
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #222831;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #393e46;
  border-width: 5px;
  width: 3%;
  height: 2px;
}

h1 {
  font-size: 2.5rem;
  margin: 40px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #00adb5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #00979e;
  margin-top: 20px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
color: #00adb5;
font-weight: bold;
}

.top-container {
  background-color: #222831;
  position: relative;
  padding-top: 50px;
}

.middle-container {
background-color: #222831;
padding: 50px 0 50px 0;
}

.bottom-container {
background-color: #00adb5;
text-align: center;
text-decoration: none;

}

.web {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
right: 600px;
top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 600px;
  bottom: 300px;
}

.footer-link {
  color: #00adb5;
}

.skill-row {
  width: 40%;
  margin: 100px auto 150px auto;
  text-align: left;
  line-height: 2;
}

.skill1-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill2-img {
  width: 25%;
  float: right;
  margin-left: 30px;
  padding-top: 20px;
}

.profile-pic {
  width: 15%;
  margin-bottom: 20px;
}

.message-me-btn {
  background: #0FC5CC;
  background-image: -webkit-linear-gradient(top, #0FC5CC, #0E9EA3);
  background-image: -moz-linear-gradient(top, #0FC5CC, #0E9EA3);
  background-image: -ms-linear-gradient(top, #0FC5CC, #0E9EA3);
  background-image: -o-linear-gradient(top, #0FC5CC, #0E9EA3);
  background-image: linear-gradient(to bottom, #0FC5CC, #0E9EA3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #F9F9F9;
  font-family:'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 400;
  padding: 7px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;

}

.footer-link {
  text-decoration: none;
  margin: auto 10px auto 10px;
  color: #222831;
}

.profile-para {
  color: #bbbbbb;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 1.5;
}

.nav-bar-list {
  list-style-type:none;
  padding: 0;
  overflow: hidden;
  margin: 0 auto 0 auto;
}

.nav-bar {
  overflow: hidden;
  background-color: #00adb5;


}

.nav-bar-list a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-bar-list a:hover {
  background-color: #ddd;
  color: #222831;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
}

.col-lg-6 {
     align-content: center;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-sm-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-sm-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.nav-profile-pic {
  float: right;
  width: 3%;
  padding: 8px;
}

.course-link {
  color: #cccccc;
  text-decoration: none;
}

.skill-1-text {
  color: #bbbbbb;
}

.go-to-top {
  text-decoration: none;
  color: #212121;
}

.footer-text-1 {
  color: #EAF6F6;
}

.footer-text-2-1 {
  color: #EAF6F6;
  font-size: 10px;
  display: inline-block;
  text-align: left;
}

.footer-text-2-2 {
  color: #EAF6F6;
  font-size: 10px;
  display: inline-block;
  text-align: center;
}

.footer-text-2-3 {
  color: #EAF6F6;
  font-size: 10px;
  display: inline-block;
  text-align: right;
}

.flaticon-link {
  text-decoration: underline;
  color: #EAF6F6;
}

.github-logo {
  width: 2%;
}

.insta-logo {
  width: 2%;
}
